<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark p-1 shadow">
  <a class="navbar-brand" routerLink="/">KGHM</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/auction-list">Lista z aukcjami</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/auction-create">Dodaj aukcje</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/user-create">Dodaj człowieczka</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/user-list">Lista człowieczków</a>
      </li>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Wpisz nazwę aukcji" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj aukcji</button>
      </form>
    </ul>
    <button type="button" class="btn btn-primary" style="margin-right: 5px;">Random button</button>
    <button type="button" class="btn btn-danger">Random button</button>
  </div>
</nav>
