<div class="container" xmlns="http://www.w3.org/1999/html">
    <h1>Dodaj aukcje</h1>
    <hr/>
    <form (ngSubmit)="onSubmit()" [formGroup]="auctionForm">
        <div class="form-group">
            <label for="name">Nazwa aukcji</label>
            <input class="form-control" formControlName="auctionName" id="name" type="text">

            <!--error block-->
            <div *ngIf="auctionForm.get('auctionName').hasError('required') && auctionForm.get('auctionName').touched"
                 class="alert alert-danger">
                Wymagana nazwa aukcji
            </div>
            <div *ngIf="auctionForm.get('auctionName').errors?.minlength" class="alert alert-danger">
                10 znaków minimum
            </div>
            <div *ngIf="auctionForm.get('auctionName').errors?.maxlength" class="alert alert-danger">
                Nie można więcej jak 15 znaków
            </div>
        </div>
        <div class="form-group">
            <label for="price">Cena wywoławcza</label>
            <input class="form-control" formControlName="auctionStartPrice" id="price" type="number">

            <!--error block-->
            <div *ngIf="auctionForm.get('auctionStartPrice').hasError('required') && auctionForm.get('auctionStartPrice').touched"
                 class="alert alert-danger">
                Hajsik wymagany
            </div>
            <div *ngIf="auctionForm.get('auctionStartPrice').errors?.lessThanZero" class="alert alert-danger">
                Hajsik nie może być niejszy niż 0
            </div>
            <div *ngIf="auctionForm.get('auctionStartPrice').errors?.biggerThan1500" class="alert alert-danger">
                Uuu za drogo...daj mniej niż 1500
            </div>
        </div>
        <div class="form-group">
            <label for="description">Opis aukcji</label>
            <textarea class="form-control" formControlName="auctionDescription" id="description" type="text"></textarea>
            <!--error block-->
            <div *ngIf="auctionForm.get('auctionDescription').hasError('required') && auctionForm.get('auctionDescription').touched"
                 class="alert alert-danger">
                Skąd mam wiedzieć czego dotyczy aukcja??
            </div>
        </div>
        <div class="form-group">
            <label for="auctionType">Typ aukcji</label>
            <select class="form-control" id="auctionType" name="auctionType">
                <option>Licytacja</option>
                <option>Kup teraz</option>
            </select>
        </div>
        <div class="form-group">
            <label for="endDate">Data zakończenia aukcji</label>
            <input class="form-control" formControlName="auctionEndDate" id="endDate" placeholder="YYYY-MM-DD"
                   type="datetime">
            <!--error block-->
            <div *ngIf="auctionForm.get('auctionEndDate').hasError('required') && auctionForm.get('auctionEndDate').touched"
                 class="alert alert-danger">
                Data zakończenia aukcji wymagana
            </div>
            <div *ngIf="auctionForm.get('auctionEndDate').errors?.pattern" class="alert alert-danger">
                Data powinna być wg nastepującego wzorca: rok-miesiąc-dzień
            </div>
        </div>
        <div class="form-group">
            <label for="image">Wczytaj zdjęcie</label>
            <div class="input-group">
                <input id="image" type="file" value="Wczytaj">
            </div>
        </div>
        <button [disabled]="auctionForm.invalid" class="btn btn-success" type="submit">Save</button>
        <button class="btn btn-danger" routerLink="/auction-list" type="button">Powrót do listy aukcji</button>
        <button (click)="clearInputs()" class="btn btn-warning" type="button">Resetuj dane</button>
    </form>
</div>
