<app-navbar></app-navbar>
<!--@TODO: naprawić navbar żeby żeby nie było tego 50px-->
<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" id="mySidebar" style="display:none">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <button (click)="w3_close()" class="w3-bar-item w3-button w3-large bg-dark">Close &times;</button>
            <a class="list-group-item list-group-item-action bg-dark" href="#">Dashboard</a>
            <a class="list-group-item list-group-item-action bg-dark" href="#">Shortcuts</a>
            <a class="list-group-item list-group-item-action bg-dark" href="#">Overview</a>
            <a class="list-group-item list-group-item-action bg-dark" href="#">Events</a>
            <a class="list-group-item list-group-item-action bg-dark" href="#">Profile</a>
        </div>
    </div>
</div>

<div id="main">
    <button (click)="w3_open()" class="w3-button w3-teal w3-xlarge" id="openNav">&#9776;</button>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>
