<div class="container">
    <h1>Dodaj człowieczka</h1>
    <hr/>
    <form [formGroup]="userForm">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="login">Login</label>
                    <input type="text" id="login" formControlName="login" class="form-control">
                </div>
                <!--error block-->
                <div class="alert alert-danger"
                    *ngIf="userForm.get('login').hasError('required') && userForm.get('login').touched">
                    Wymagany login
                </div>
                <div class="form-group">
                    <label for="firstName">Imię</label>
                    <input type="text" id="firstName" formControlName="firstName" class="form-control">

                    <!--error block-->
                    <div class="alert alert-danger"
                        *ngIf="userForm.get('firstName').hasError('required') && userForm.get('firstName').touched">
                        Wymagane imie
                    </div>
                </div>
                <div class="form-group">
                    <label for="secondName">Nazwisko</label>
                    <input type="text" id="secondName" formControlName="secondName" class="form-control">

                    <!--error block-->
                    <div class="alert alert-danger"
                        *ngIf="userForm.get('secondName').hasError('required') && userForm.get('secondName').touched">
                        Wymagane Nazwisko
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" formControlName="email" class="form-control">

                    <!--error block-->
                    <div class="alert alert-danger"
                        *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched">
                        Wymagany email
                    </div>
                    <div class="alert alert-danger" *ngIf="userForm.get('email').errors?.email">
                        Zły wzorzec
                    </div>
                </div>
                <button type="submit" class="btn btn-success" [disabled]="!userForm.valid" (click)="onSubmit()">Save
                </button>
                <button type="button" class="btn btn-danger" routerLink="/auction-list">
                    Powrót do głównego menu
                </button>
                <button type="button" class="btn btn-warning" (click)="clearInputs()">Resetuj dane</button>
            </div>
        </div>
    </form>
</div>