<div class="container">
    <h1>Register user</h1>
    <hr/>
    <form [formGroup]="userForm">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="form-group" *ngFor="let input of inputsArray">
                    <label for="{{input.field}}">{{input.header}}</label>
                    <input type="text" id="{{input.field}}" formControlName="{{input.field}}" class="form-control">
                    <app-error-message [control]="userForm.controls[input.field]"></app-error-message>
                </div>
                <button type="submit" class="btn btn-success" [disabled]="!userForm.valid" (click)="onSubmit()">Register
                </button>
                <button type="button" class="btn btn-danger" routerLink="/auction-list">
                    Return to main page
                </button>
                <button type="button" class="btn btn-warning" (click)="clearInputs()">Clear inputs</button>
            </div>
        </div>
    </form>
</div>