<div class="container">
    <h2>{{title}}</h2>
    <hr/>
    <form [formGroup]="userForm">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12">
                <div *ngFor="let input of inputsArray" class="form-group">
                    <label for="{{input.field}}">{{input.header}}</label>
                    <input class="form-control" formControlName="{{input.field}}" id="{{input.field}}" type="text">
                    <app-error-message [control]="userForm.controls[input.field]"></app-error-message>
                </div>
                <button (click)="onSubmit()" [disabled]="!userForm.valid" class="btn btn-success" type="submit">Register
                </button>
                <button class="btn btn-danger" routerLink="/auction-list" type="button">
                    Return to main page
                </button>
                <button (click)="clearInputs()" class="btn btn-warning" type="button">Clear inputs</button>
            </div>
        </div>
    </form>
</div>
